
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #2b0863;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.chart-container{

   margin: 0 auto;
    width: 400px;
    height: 400px;
    
}
.info-container *{
 margin: 10px;
 font-size: 24px;
 color: whitesmoke;
}